body {
    padding-top: 50px;
}

a{
    text-decoration: none !important;
}

.hero {
    height: 400px;
    background: url(hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3.125em;

}

.social-media {
    margin-right: -15px;
}

.fa {
    color: orangered;
    transition: color 0.5s ease;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-github:hover{
    color: #323131;
}

.about-title {
    text-align: center;
}

.about-title:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid orangered;
}

.about-image{
    display: flex;
    justify-content: center;
}

.about-image img {
    border-radius: 300px;
}

.about-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.date-post {
    text-align: center;
    padding-top: 3em;
    font-size: 12px;
    color: #858585;

}

.title-post {
    text-align: center;
    padding-bottom: 0.5em;

}



.post img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.post p {
    padding: 3em;
}

.read-more {
    background-color: white;
    color: #7b7b7b;
    border-color: #7b7b7b;
    width: 100px;
    transition: background-color 0.3s ease;

}

.read-more:hover{
    background-color: #636770;
    border-color: #636770;
}

.post {
    margin-bottom: 5.5em;

}

.categories {
    padding: 17px 0;
}

.categories ul {
    list-style: none outside none;
    border-top: 1px dashed #7b7b7b;
    margin: 0 auto;
    padding: 15px 20px;
}
.categories ul:last-child {
    border-bottom: 1px dashed #7b7b7b;
}

.categories-title {
    text-align: center;
}


.categories-title:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid orangered;
}

#first, #second, #third {
    padding-bottom: 50px;
}




